/dist
/node_modules
/certs
/.env
/public/node_modules
/aws/kinesis-analytics/vigil-analytics/build
/aws/kinesis-analytics/vigil-analytics/.gradle
/aws/kinesis-analytics/vigil-analytics/.idea
/aws/kinesis-analytics/vigil-analytics/gradle.properties
/aws/lambdas/node_modules